form {
    padding: 15px;
    margin: 15px 0 0 0;
    border-radius: 10px;
}

h3 {
    text-align: center
}
/*
ul#courses, ul#students {
    margin: 15px 0 0 0;
    border: 1px solid darkblue;
    box-shadow: 10px 10px 5px #888888;
    border-radius: 5px;
}
*/
table.perf {
    margin: 15px 0 0 0;
}
/*
.glyphicon-tags:before {
  content: "\e008";
}
*/