<nav aria-label="Page navigation example"  style="position: absolute;top: 50px;left: 20px;">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-link" [routerLink]="['./humiture']">1</li>
        <li  class="page-link" [routerLink]="['./record']">2</li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>




