<!--app-login-form></app-login-form-->
<img  id="image2"src='../assets/logo1.jpg' />

<!--<img id="image1" src='//goss1.cfp.cn/creative/vcg/nowarter800/new/VCG41592601859.jpg' alt='null' />-->
<nav  class="navbar navbar-expand-sm bg-white navbar-white" style="display: flex; flex-direction: row; align-items: center; justify-content: start;position: absolute;right: 50px;
   z-index:1;">
  <!-- Brand/logo -->
  <a class="navbar-brand"  [routerLink]="['login']">
    <img src="https://static.runoob.com/images/mix/bird.jpg" alt="logo" style="width:40px;">
  </a>
  
  <!-- Links -->
  <ul class="navbar-nav" style="flex: 1">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['login']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['home']">Monitoring and management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['userlist']">Root</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['about']">About us</a>
    </li>
  </ul>

 <div style="display: flex; flex-direction: row; align-items: center; justify-content: start;">
  <p style="color:olivedrab; margin: 0; margin-right: 1rem;margin-left: 100px;" *ngIf="auth.isLoggedIn()">welcome:{{this.auth.userName}} </p>
  <button  type="button" class="btn btn-primary" [ngClass]="{active:menuIndex==6}"(click)="menuClicked(6)"*ngIf="auth.isLoggedIn()"
    style="border-radius: 25px;box-shadow:0px 10px 7px gainsboro;width: 90px;height: 40px;display: flex;flex-direction: row;text-align: center;
    justify-content: center;">Logout</button>
  </div>





<div style="display: flex; flex-direction: row; align-items: center; justify-content: start;">
  <p style="color:olivedrab; margin: 0; margin-right: 1rem;margin-left: 100px;" *ngIf="auth1.isLoggedIn1()">
    welcome:{{this.auth1.userName}} </p>
  <button type="button" class="btn btn-primary" (click)="logout()"
    *ngIf="auth1.isLoggedIn1()" style="border-radius: 25px;box-shadow:0px 10px 7px gainsboro;width: 90px;height: 40px;display: flex;flex-direction: row;text-align: center;
    justify-content: center;">Logout</button>
</div>










</nav>

  <router-outlet></router-outlet>























<!--<div class="container-fluid" id="back" style="background-image: url(../../assets/1.jpg);">
</div>-->
<div class="row"> <div id="demo" class="carousel slide" data-ride="carousel">
<!--提示符-->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
   <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li> 
  </ul>
</div>
</div>

<!--div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
      
  </div>
  <div class="col-md-4"></div>
</div-->
