
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=PVz3587R08XvMBg8utYZ6DNG7OngYGSy"></script>
<script type="text/javascript" src="//api.map.baidu.com/library/IndoorMap/1.0/src/indoor.min.js?v=1.0.1 "></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
<div id="allmap" style="width:800px;height: 750px;position: absolute;top: 100px;left: 165px;"></div>
<style type="text/css">
    body,
    html,
    #allmap {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        font-family: "微软雅黑";
    }

    .BMap_cpyCtrl {
        display: none;
    }

    .anchorBL {
        display: none;
    }
</style>





